﻿/* ------------------Put your custom code here--------------------*/
.control-label {font-weight: bold;}
form .control-group:last-child {margin-bottom: 0;}
form .control-group .controls-row {	margin-bottom: 5px;}
form .control-group .controls-row textarea {margin-bottom: 15px;}
form .control-group .controls-row .btn.special {margin-left: 10px;}

@media only screen and (max-width: 1360px) {
	/* ------------------ Form styles --------------------*/
	[class*="span6"] form .control-group .control-label {width: 120px;}
	[class*="span6"] form .control-group .controls {margin-left: 150px;}
}

@media only screen and (max-width: 1280px) {
	/* ------------------ Form styles --------------------*/
	[class*="span6"] form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
	[class*="span6"] form .control-group .controls {margin-left: 0;}
	[class*="span6"] form .control-group {margin-bottom: 10px;}
	[class*="span6"] form .form-actions {padding-left: 20px;}
}

@media only screen and (max-width: 767px) {
	/* ------------------ Form styles--------------------*/
	form .control-group [class*="span"] {margin-bottom: 10px !important;}
	form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
	form .control-group .controls {margin-left: 0;}
	form .control-group {margin-bottom: 10px;}
	form .form-actions {padding-left: 20px;}
	form .control-group .controls-row [class*="span"] {margin-left: 0 !important;}
	form .control-group .controls-row .btn.special {margin-left: 0px;}
}

.dropdown-menu .menu {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    display: block;
    float: left;
    background: #fff;
    padding: 0 10px;
    margin-bottom: 0;
    min-width: 300px;
}

.text-right{
    text-align: right;
}

.nav-txt p{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    margin-top: -5px;
    line-height: 100%;
    margin-bottom: -1px;
}
.nav-caret{
    float:right;
}

