.display-none{ display:none; }

ol.question {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol.question > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

ol.question > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}

li ol > li {
    margin: 0;
}

li ol.question > li:before {
    content: counters(item, ".") " ";
}

.unstyled{ list-style-type: none; }

.confirmation_message{
    display:block;
    text-indent:20px;
    text-align: justify;
    font-weight: bold;
}

.modal-body .form-group{
    margin: 0;
}

.dataTables_paginate a{
    cursor: pointer;
}

.panel_toolbox>li>a{
    color: #5A738E;
}

#clearflash{
    min-height: 100vh;
}

.img-avatar{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
        padding:15px;

}
.flex{
    display:flex;
}